{{define "sqli/sqli_header/sqli_header.html"}}
<div class="main-content">
    <div class="main-content-inner">
        <div class="breadcrumbs ace-save-state">
            <ul class="breadcrumb">
                <li><a href="/vul/sqli/sqli">SQL注入</a></li>
                <li class="active">请求头部SQL注入</li>
            </ul>
        </div>
        <div class="page-content">
            <form method="get">
                输入请求头（X-User）：<input type="text" name="input"><br>
                <input type="submit" value="提交">
            </form>
            <p>{{.HtmlMsg}}</p>
        </div>
    </div>
</div>
{{end}}