{{define "burteforce/bf_client.html"}}
<div class="main-content">
    <div class="main-content-inner">
        <div class="breadcrumbs ace-save-state" id="breadcrumbs">
            <ul class="breadcrumb">
                <li><i class="ace-icon fa fa-home home-icon"></i>
                    <a href="/vul/burteforce/burteforce">BurteForce</a>
                </li>
                <li class="active">客户端防护</li>
            </ul>
        </div>

        <div class="page-content">
            <form method="post" id="loginForm">
                用户名：<input type="text" name="username" /><br />
                密码：<input type="password" name="password" /><br />
                验证码：<input type="text" name="vcode" class="vcode" /><br />
                <img src="/captcha" onclick="this.src='/captcha?'+Math.random();" style="cursor:pointer; margin:5px 0;"
                    title="点击刷新验证码" /><br />
                <input type="submit" value="登录" />
            </form>

            <div style="margin-top:15px;">
                {{.HtmlMsg}}
            </div>
        </div>
    </div>
</div>

<script>
    var tryCount = 0;
    document.getElementById("loginForm").onsubmit = function () {
        tryCount++;
        if (tryCount > 3) {
            alert("尝试次数过多！");
            return false;
        }

        // 验证码前端验证（但实际是无效的，因为没有真正验证码的值）
        var inputCode = document.querySelector('#loginForm .vcode').value;
        if (!inputCode) {
            alert("请输入验证码！");
            return false;
        }

        return true;
    };
</script>
{{end}}