{{define "burteforce/bf_client.html"}}
<div class="main-content">
    <div class="main-content-inner">
        <div class="breadcrumbs ace-save-state" id="breadcrumbs">
            <ul class="breadcrumb">
                <li><i class="ace-icon fa fa-home home-icon"></i>
                    <a href="/vul/burteforce/burteforce">BurteForce</a>
                </li>
                <li class="active">客户端防护</li>
            </ul>
        </div>

        <div class="page-content">
            <form method="post" id="loginForm">
                用户名：<input type="text" name="username" /><br />
                密码：<input type="password" name="password" /><br />
                <input type="submit" value="登录" />
            </form>

            <div style="margin-top:15px;">
                {{.HtmlMsg}}
            </div>
        </div>
    </div>
</div>

<script>
    var tryCount = 0;
    document.getElementById("loginForm").onsubmit = function () {
        tryCount++;
        if (tryCount > 3) {
            alert("尝试次数过多！");
            return false;
        }
    };
</script>
{{end}}