{{define "burteforce/bf_token.html"}}
<div class="main-content">
    <div class="main-content-inner">
        <div class="breadcrumbs ace-save-state" id="breadcrumbs">
            <ul class="breadcrumb">
                <li><i class="ace-icon fa fa-home home-icon"></i>
                    <a href="/vul/burteforce/burteforce">BurteForce</a>
                </li>
                <li class="active">加入 CSRF Token</li>
            </ul>
        </div>

        <div class="page-content">
            <form method="post">
                用户名：<input type="text" name="username" /><br />
                密码：<input type="password" name="password" /><br />
                {{.HtmlMsg}}
                <input type="submit" value="登录" />
            </form>
        </div>
    </div>
</div>
{{end}}