{{define "dir/dir.html"}}
<div class="main-content">
    <div class="main-content-inner">
        <div class="breadcrumbs ace-save-state">
            <ul class="breadcrumb">
                <li><a href="/vul/dir/dir">目录遍历</a></li>
                <li class="active">本地文件列表</li>
            </ul>
        </div>
        <div class="page-content">
            <form method="get">
                <label>输入目录路径：</label>
                <input type="text" name="path" placeholder="./ 或 ../" style="width:300px;">
                <input type="submit" value="查看">
            </form>
            <br>
            <div>{{.HtmlMsg}}</div>
        </div>
    </div>
</div>
{{end}}