{{define "dir/dir_list.html"}}
<div class="main-content">
    <div class="main-content-inner">
        <div class="breadcrumbs ace-save-state">
            <ul class="breadcrumb">
                <li><a href="/vul/dir/dir_list">目录页面</a></li>
                <li class="active">影片列表</li>
            </ul>
        </div>
        <div class="page-content">
            <ul>
                <li><a href="/vul/dir/dir_list?title=jarheads">血战钢锯岭</a></li>
                <li><a href="/vul/dir/dir_list?title=truman">楚门的世界</a></li>
            </ul>
        </div>
    </div>
</div>
{{end}}