{{define "xxe/xxe.html"}}
<div class="main-content">
    <div class="main-content-inner">
        <div class="breadcrumbs ace-save-state" id="breadcrumbs">
            <ul class="breadcrumb">
                <li>
                    <i class="ace-icon fa fa-home home-icon"></i>
                    <a href="/vul/xxe/xxe">xxe</a>
                </li>
                <li class="active">概述</li>
            </ul>
        </div>
        <div class="page-content">
            <div id="vul_info">
                <dl>
                    <dt class="vul_title">XML实体注入（XXE）漏洞概述</dt>
                    <dd class="vul_detail">
                        XML External Entity注入（简称XXE）攻击，是一种利用应用在解析XML输入时存在的安全漏洞，从而在应用服务器上执行恶意代码的攻击方式。
                    </dd>
                    <dd class="vul_detail">
                        XXE 漏洞利用攻击者能够向服务器发送包含实体定义的恶意 XML 数据，若服务器未关闭实体解析，攻击者即可读取服务器本地文件、执行 SSRF、命令注入等攻击行为。
                    </dd>
                    <dd class="vul_detail">
                        漏洞存在的根本原因：使用了存在风险的 XML 解析器（如 libxml2），且未禁用外部实体。
                    </dd>
                    <dd class="vul_detail">
                        你可以通过下方示例来测试并理解 XXE 的危害。
                    </dd>
                </dl>
            </div>
        </div>
    </div>
</div>
{{end}}