{{define "csrf/csrfpost/csrf_post_login.html"}}
<div class="main-content">
    <div class="main-content-inner">
        <div class="breadcrumbs ace-save-state">
            <ul class="breadcrumb">
                <li><a href="/vul/csrf/csrf">CSRF</a></li>
                <li class="active">POST 登录</li>
            </ul>
            <a href="#" style="float:right" data-container="body" data-toggle="popover" data-placement="bottom"
                title="tips(再点一下关闭)" data-content="这是CSRF测试的登录页面，登录后可以进行POST类型的CSRF测试">
                点一下提示~
            </a>
        </div>
        <div class="page-content">
            <div class="csrf-container">
                <h3 class="csrf-title">CSRF POST测试 - 用户登录</h3>
                <div class="csrf-form">
                    <form method="post">
                        <label for="username">用户名：</label>
                        <input type="text" id="username" name="username" placeholder="请输入用户名">

                        <label for="nickname">昵称：</label>
                        <input type="text" id="nickname" name="nickname" placeholder="请输入您的昵称">

                        <input type="submit" value="登录">
                    </form>
                </div>
                {{if .HtmlMsg}}
                <div class="csrf-message">
                    {{.HtmlMsg}}
                </div>
                {{end}}

                <p style="margin-top: 20px; color: #666;">
                    <i class="ace-icon fa fa-info-circle"></i>
                    提示：登录后，可以访问 <a href="/vul/csrf/csrfpost/csrf_post">个人信息</a> 页面修改您的信息。
                </p>
            </div>
        </div>
    </div>
</div>
{{end}}