{{define "ssrf/ssrf_info/info1.html"}}
<div class="main-content">
    <div class="main-content-inner">
        <div class="breadcrumbs ace-save-state" id="breadcrumbs">
            <ul class="breadcrumb">
                <li>
                    <i class="ace-icon fa fa-home home-icon"></i>
                    <a href="/vul/ssrf/ssrf">SSRF</a>
                </li>
                <li class="active">诗歌</li>
            </ul>
        </div>
        <div class="page-content">
            <br>
            <pre>
假如生活欺骗了你

作者：普希金

假如生活欺骗了你，
不要悲伤，不要心急！
忧郁的日子里须要镇静：
相信吧，快乐的日子将会来临！
心儿永远向往着未来；
现在却常是忧郁。
一切都是瞬息，一切都将会过去；
而那过去了的，就会成为亲切的怀恋。
            </pre>
        </div><!-- /.page-content -->
    </div>
</div><!-- /.main-content -->
{{end}} 