{{define "unsafeupload/clientcheck.html"}}
<div class="main-content">
    <div class="main-content-inner">
        <div class="breadcrumbs ace-save-state" id="breadcrumbs">
            <ul class="breadcrumb">
                <li>
                    <i class="ace-icon fa fa-home home-icon"></i>
                    <a href="/vul/unsafeupload/upload">不安全的文件上传</a>
                </li>
                <li class="active">客户端check</li>
            </ul>
            <a href="#" style="float:right" data-container="body" data-toggle="popover" data-placement="bottom"
                title="tips(再点一下关闭)" data-content="一切在前端做的安全措施都是不靠谱的">点一下提示~</a>
        </div>

        <div class="page-content">
            <div id="usu_main">
                <p class="title">这里只允许上传图片o！</p>
                <form class="upload" method="post" enctype="multipart/form-data">
                    <input class="uploadfile" type="file" name="uploadfile" onchange="checkFileExt(this.value)" /><br />
                    <input class="sub" type="submit" name="submit" value="开始上传" />
                </form>
                {{.HtmlMsg}}
            </div>
        </div>
    </div>
</div>

<script>
    function checkFileExt(filename) {
        var flag = false; // 状态
        var arr = ["jpg", "png", "gif"];
        // 取出上传文件的扩展名
        var index = filename.lastIndexOf(".");
        var ext = filename.substr(index + 1);
        // 比较
        for (var i = 0; i < arr.length; i++) {
            if (ext == arr[i]) {
                flag = true; // 一旦找到合适的，立即退出循环
                break;
            }
        }
        // 条件判断
        if (!flag) {
            alert("上传的文件不符合要求，请重新选择！");
            location.reload(true);
        }
    }
</script>
{{end}}