{{define "unsafeupload/upload.html"}}
<div class="main-content">
    <div class="main-content-inner">
        <div class="breadcrumbs ace-save-state" id="breadcrumbs">
            <ul class="breadcrumb">
                <li>
                    <i class="ace-icon fa fa-home home-icon"></i>
                    <a href="/vul/unsafeupload/upload">不安全的文件上传</a>
                </li>
                <li class="active">upload</li>
            </ul>

            <a href="#" style="float:right" data-container="body" data-toggle="popover" data-placement="bottom"
                title="tips(再点一下关闭)" data-content="尝试上传一个图片文件，然后尝试上传一个非图片文件（例如php文件）看看会发生什么？">
                点一下提示~
            </a>
        </div>
        <div class="page-content">
            <div id="usu_main">
                <p class="title">文件上传测试</p>
                <form class="upload" method="post" enctype="multipart/form-data">
                    <p>请选择你要上传的头像，只能上传jpg, gif, png文件</p>
                    <input class="uploadfile" type="file" name="upload_file" />
                    <input class="sub" type="submit" value="上传" />
                </form>
                <div style="margin-top:10px;">{{.HtmlMsg}}</div>
            </div>
        </div>
    </div>
</div>
{{end}}