{{define "sqli/sqli_id.html"}}
<div class="main-content">
    <div class="main-content-inner">
        <div class="breadcrumbs ace-save-state">
            <ul class="breadcrumb">
                <li><a href="/vul/sqli/sqli">SQL注入</a></li>
                <li class="active">获取ID注入</li>
            </ul>
        </div>
        <div class="page-content">
            <form method="get">
                输入 ID：<input type="text" name="id"><br>
                <input type="submit" value="查询">
            </form>
            <p>{{.HtmlMsg}}</p>
        </div>
    </div>
</div>
{{end}}