{{define "infoleak/abc.html"}}
<div class="main-content">
    <div class="main-content-inner">
        <div class="breadcrumbs ace-save-state" id="breadcrumbs">
            <ul class="breadcrumb">
                <li><i class="ace-icon fa fa-home home-icon"></i><a href="/vul/infoleak/infoleak">敏感信息泄露</a></li>
                <li class="active">秘密页面</li>
            </ul>

            <a href="#" style="float:right" data-container="body" data-toggle="popover" data-placement="bottom"
                title="tips(再点一下关闭)" data-content="恭喜你找到了隐藏页面！这个页面正常情况下是不应该被访问到的...">
                点一下提示~
            </a>
        </div>
        <div class="page-content">
            <div class="pika-container">
                <div style="text-align: right; margin-bottom: 20px;">
                    <a href="?logout=1" class="pika-link"><i class="ace-icon fa fa-sign-out"></i> 退出登录</a>
                </div>

                <div class="pika-success" style="padding: 15px; border-radius: 4px; margin-bottom: 20px;">
                    <h4 style="margin-top: 0;"><i class="ace-icon fa fa-check"></i> 成功访问隐藏页面！</h4>
                    <p>您已经成功发现了敏感信息泄露漏洞并利用它访问到了这个页面。在实际应用中，类似的漏洞可能会导致更严重的安全问题。</p>
                </div>

                <div style="margin: 25px 0; padding: 15px; border-left: 3px solid #438EB9; background-color: #f9f9f9;">
                    <p style="font-style: italic; color: #666;">"那一天我二十一岁，在我一生的黄金时代"</p>
                    <p style="font-style: italic; color: #666;">"我有好多奢望。我想爱，想吃，还想在一瞬间变成天上半明半暗的云"</p>
                    <p style="font-style: italic; color: #666;">"后来我才知道，生活就是个缓慢受锤的过程"</p>
                </div>

                <div style="margin-top: 30px;">
                    <h3 class="pika-title">敏感信息泄露概述</h3>

                    <div class="pika-notice" style="margin-bottom: 20px;">
                        <p>由于后台人员的疏忽或者不当的设计，导致不应该被前端用户看到的数据被轻易的访问到。</p>
                        <ul style="margin-top: 10px; margin-left: 20px;">
                            <li>通过访问URL下的目录，可以直接列出目录下的文件列表;</li>
                            <li>输入错误的URL参数后报错信息里面包含操作系统、中间件、开发语言的版本或其他信息;</li>
                            <li>前端的源码（HTML,CSS,JS）里面包含了敏感信息，比如后台登录地址、内网接口信息、甚至账号密码等;</li>
                        </ul>
                    </div>

                    <p>类似以上这些情况，我们称为敏感信息泄露。敏感信息泄露虽然一直被评为危害比较低的漏洞，但这些敏感信息往往给攻击者实施进一步的攻击提供很大的帮助，甚至"离谱"的敏感信息泄露也会直接造成严重的损失。
                    </p>
                    <p>因此，在web应用的开发上，除了要进行安全的代码编写，也需要注意对敏感信息的合理处理。</p>
                </div>
            </div>
        </div>
    </div>
</div>
{{end}}