{{define "infoleak/findabc.html"}}
<div class="main-content">
    <div class="main-content-inner">
        <div class="breadcrumbs ace-save-state" id="breadcrumbs">
            <ul class="breadcrumb">
                <li>
                    <i class="ace-icon fa fa-home home-icon"></i>
                    <a href="/vul/infoleak/infoleak">敏感信息泄露</a>
                </li>
                <li class="active">find abc</li>
            </ul>
            <a href="#" style="float:right" data-container="body" data-toggle="popover" data-placement="bottom"
                title="tips(再点一下关闭)" data-content="找找看,很多地方都漏点了...">
                点一下提示~
            </a>
        </div>
        <div class="page-content">
            <div class="form">
                <div class="form_main">
                    <h4 class="header blue lighter bigger">
                        <i class="ace-icon fa fa-coffee green"></i>
                        Please Enter Your Information
                    </h4>

                    <form method="get">
                        <label>
                            <span>
                                <input type="text" name="username" placeholder="Username" />
                                <i class="ace-icon fa fa-user"></i>
                            </span>
                        </label>
                        </br>

                        <label>
                            <span>
                                <input type="password" name="password" placeholder="Password" />
                                <i class="ace-icon fa fa-lock"></i>
                            </span>
                        </label>

                        <div class="space"></div>

                        <div class="clearfix">
                            <label><input class="submit" name="submit" type="submit" value="Login" /></label>
                        </div>
                    </form>
                    {{.HtmlMsg}}
                </div><!-- 测试账号:lili/123456-->
            </div>
        </div>
    </div>
</div>
{{end}}