{{define "infoleak/infoleak.html"}}
<div class="main-content">
    <div class="main-content-inner">
        <div class="breadcrumbs ace-save-state" id="breadcrumbs">
            <ul class="breadcrumb">
                <li><i class="ace-icon fa fa-home home-icon"></i><a href="/">首页</a></li>
                <li class="active">敏感信息泄露</li>
            </ul>
        </div>
        <div class="page-content">
            <p>敏感信息泄露是指未加密或者未经授权访问的数据泄漏，常见的泄漏途径包括：</p>
            <ul>
                <li>未授权访问：错误的权限配置导致敏感文件暴露</li>
                <li>错误信息泄露：错误提示包含系统、数据库等敏感信息</li>
                <li>源代码泄露：前端源代码中包含后台信息</li>
            </ul>
        </div>
    </div>
</div>
{{end}}