<div class="main-content">
    <div class="main-content-inner">
        <div class="breadcrumbs ace-save-state" id="breadcrumbs">
            <ul class="breadcrumb">
                <li><i class="ace-icon fa fa-home home-icon"></i><a href="/">主页</a></li>
                <li class="active">远程命令执行</li>
            </ul>
        </div>
        <div class="page-content">
            <div class="vul info">
                <p>RCE（Remote Command Execute）远程命令执行漏洞测试</p>
                <a href="/vul/rce/rce_eval">eval 执行模拟</a><br>
                <a href="/vul/rce/rce_ping">ping 命令执行模拟</a>
            </div>
        </div>
    </div>
</div>