<div class="main-content">
    <div class="main-content-inner">
        <div class="breadcrumbs ace-save-state" id="breadcrumbs">
            <ul class="breadcrumb">
                <li><i class="ace-icon fa fa-home home-icon"></i><a href="/vul/rce/rce">rce</a></li>
                <li class="active">exec "ping"</li>
            </ul>
            <a href="#" style="float:right" data-container="body" data-toggle="popover" data-placement="bottom" title="tips(再点一下关闭)" data-content="想一下ping命令在系统上是怎么用的">
                点一下提示~
            </a>
        </div>
        <div class="page-content">
            <div id="comm_main">
                <p class="comm_title">Here, please enter the target IP address!</p>
                <form method="post">
                    <input class="ipadd" type="text" name="ipaddress" />
                    <input class="sub" type="submit" name="submit" value="ping" />
                </form>
                <br>
                <div class="alert alert-info">
                    <strong>安全提示:</strong> 此功能仅接受有效的IP地址和域名格式，不允许使用特殊字符。
                </div>
                <pre>{{ .HtmlMsg }}</pre>
            </div>
        </div>
    </div>
</div>