<div class="main-content">
    <div class="main-content-inner">
        <div class="breadcrumbs ace-save-state" id="breadcrumbs">
            <ul class="breadcrumb">
                <li>
                    <i class="ace-icon fa fa-home home-icon"></i>
                    <a href="{{.PikaRoot}}vul/overpermission/op">越权</a>
                </li>
                <li class="active">概述</li>
            </ul>
            <a href="#" style="float:right" data-container="body" data-toggle="popover" data-placement="bottom"
                title="tips(再点一下关闭)" data-content="越权漏洞可以让攻击者访问未经授权的数据">
                点一下提示~
            </a>
        </div>
        <div class="page-content">
            <div class="vul-info">
                <h1>越权漏洞概述</h1>
                <p>越权漏洞是指攻击者通过修改请求参数获取未授权的资源或执行未授权的操作。</p>
                <p>越权漏洞主要分为两类：</p>
                <ul>
                    <li><strong>水平越权：</strong>指同级别用户之间的权限越级访问，如A用户访问B用户的信息。</li>
                    <li><strong>垂直越权：</strong>指不同级别用户之间的权限越级访问，如普通用户访问管理员功能。</li>
                </ul>
                <p>在实际的应用中，越权漏洞往往出现在开发者未对每个功能进行权限检查的情况下。</p>
                <p>点击左边的导航栏进入相应的测试页面。</p>
            </div>
        </div>
    </div>
</div>