<div class="main-content">
    <div class="main-content-inner">
        <div class="breadcrumbs ace-save-state" id="breadcrumbs">
            <ul class="breadcrumb">
                <li><i class="ace-icon fa fa-home home-icon"></i><a href="/">首页</a></li>
                <li class="active">XSS跨站脚本攻击</li>
            </ul>
        </div>
        <div class="page-content">
            <div class="vul info">
                <p>XSS跨站脚本攻击测试模块</p>
                <ul>
                    <li><a href="/vul/xss/xss_01">xss_01 - 直接输出</a></li>
                    <li><a href="/vul/xss/xss_02">xss_02 - htmlspecialchars 过滤</a></li>
                    <li><a href="/vul/xss/xss_03">xss_03 - 替换标签</a></li>
                    <li><a href="/vul/xss/xss_04">xss_04 - htmlentities 编码</a></li>
                    <li><a href="/vul/xss/xss_stored">存储型XSS</a></li>
                    <li><a href="/vul/xss/xss_reflected_get">反射型XSS（GET）</a></li>
                    <li><a href="/vul/xss/xss_dom">DOM XSS</a></li>
                    <li><a href="/vul/xss/xss_dom_x">DOM XSS X</a></li>
                    <li><a href="/vul/xss/fixxss">修复版本演示</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>