{{define "xss/xss_04.html"}}
<div class="main-content">
    <div class="main-content-inner">
        <div class="breadcrumbs ace-save-state" id="breadcrumbs">
            <ul class="breadcrumb">
                <li>
                    <i class="ace-icon fa fa-home home-icon"></i>
                    <a href="/vul/xss/xss">xss</a>
                </li>
                <li class="active">xss之js输出</li>
            </ul>
            <a href="#" style="float:right" data-container="body" data-toggle="popover" data-placement="bottom"
                title="tips(再点一下关闭)" data-content="输入被动态的生成到了javascript中,如何是好。输入tmac试试-_-">
                点一下提示~
            </a>
        </div>
        <div class="page-content">
            <div id="xssr_main">
                <p class="xssr_title">which NBA player do you like?</p>
                <form method="get" action="/vul/xss/xss_04">
                    <input class="xssr_in" type="text" name="message" />
                    <input class="xssr_submit" type="submit" name="submit" value="submit" />
                </form>
                </br>
                <p id="fromjs"></p>
                {{ .HtmlMsg }}
            </div>
        </div>
    </div>
</div>

<script>
    $ms = '{{ .Extra.Jsvar }}';
    if ($ms.length != 0) {
        if ($ms == 'tmac') {
            $('#fromjs').text('tmac确实厉害,看那小眼神..')
        } else {
            $('#fromjs').text('无论如何不要放弃心中所爱..')
        }
    }
</script>
{{end}}