<div class="main-content">
    <div class="main-content-inner">
        <div class="page-content">
            <div class="vul info">
                <form method="get">
                    <label>请输入内容（GET反射）:</label>
                    <input type="text" name="keyword">
                    <input type="submit" value="提交">
                </form>
                <br>
                <strong>结果：</strong>
                <div style="padding:10px;border:1px solid #ccc;margin-top:5px;">
                    {{ .HtmlMsg }}
                </div>
            </div>
        </div>
    </div>
</div>