{{define "xss/xss_02.html"}}
<div class="main-content">
    <div class="main-content-inner">
        <div class="breadcrumbs ace-save-state" id="breadcrumbs">
            <ul class="breadcrumb">
                <li>
                    <i class="ace-icon fa fa-home home-icon"></i>
                    <a href="/vul/xss/xss">xss</a>
                </li>
                <li class="active">xss之htmlspecialchars</li>
            </ul>
            <a href="#" style="float:right" data-container="body" data-toggle="popover" data-placement="bottom"
                title="tips(再点一下关闭)" data-content="htmlspecialchars函数能过滤掉什么？">
                点一下提示~
            </a>
        </div>
        <div class="page-content">
            <div id="xssr_main">
                <p class="xssr_title">输入测试语句，测试一下htmlspecialchars的过滤效果:</p>
                <form method="get">
                    <input class="xssr_in" type="text" name="message" />
                    <input class="xssr_submit" type="submit" name="submit" value="submit" />
                </form>
                {{ .HtmlMsg }}
            </div>
        </div>
    </div>
</div>
{{end}}