<div class="main-content">
    <div class="main-content-inner">
        <div class="breadcrumbs ace-save-state" id="breadcrumbs">
            <ul class="breadcrumb">
                <li>
                    <i class="ace-icon fa fa-home home-icon"></i>
                    <a href="{{.PikaRoot}}vul/xss/xss">xss</a>
                </li>
                <li class="active">反射型xss(get)</li>
            </ul><!-- /.breadcrumb -->

            <a href="#" style="float:right" data-container="body" data-toggle="popover" data-placement="bottom"
                title="tips(再点一下关闭)" data-content="管tmd什么xss,首先你应该输入kobe看一下再说">
                点一下提示~
            </a>

        </div>
        <div class="page-content">
            <style>
                #xssr_main {
                    width: 80%;
                    margin: 0 auto;
                    margin-top: 50px;
                    border: 1px solid #ddd;
                    padding: 20px;
                    border-radius: 5px;
                }

                .xssr_title {
                    font-size: 18px;
                    margin-bottom: 20px;
                    color: #428bca;
                }

                .xssr_in {
                    width: 70%;
                    height: 30px;
                    padding: 5px;
                    border: 1px solid #ccc;
                    border-radius: 3px;
                }

                .xssr_submit {
                    padding: 5px 15px;
                    background-color: #337ab7;
                    border: none;
                    color: white;
                    cursor: pointer;
                    border-radius: 3px;
                }

                .notice {
                    margin-top: 15px;
                    padding: 10px;
                    background-color: #f8f8f8;
                    border-left: 4px solid #5bc0de;
                }
            </style>
            <div id="xssr_main">
                <p class="xssr_title">Which NBA player do you like?</p>
                <form method="get">
                    <input class="xssr_in" type="text" maxlength="20" name="message" />
                    <input class="xssr_submit" type="submit" name="submit" value="submit" />
                </form>
                {{ .HtmlMsg }}
            </div>
        </div>
    </div>
</div>