<!DOCTYPE html>
<html lang="en">

    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <meta charset="utf-8" />
        <title>Get the pikachu</title>
        <meta name="description" content="overview &amp; stats" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
        <!-- bootstrap & fontawesome -->
        <link rel="stylesheet" href="{{.PikaRoot}}assets/css/bootstrap.min.css" />
        <link rel="stylesheet" href="{{.PikaRoot}}assets/font-awesome/4.5.0/css/font-awesome.min.css" />
        <!-- page specific plugin styles -->
        <!-- text fonts -->
        <link rel="stylesheet" href="{{.PikaRoot}}assets/css/fonts.googleapis.com.css" />
        <!-- ace styles -->
        <link rel="stylesheet" href="{{.PikaRoot}}assets/css/ace.min.css" class="ace-main-stylesheet"
            id="main-ace-style" />
        <!--[if lte IE 9]>
    <link rel="stylesheet" href="{{.PikaRoot}}assets/css/ace-part2.min.css" class="ace-main-stylesheet" />
    <![endif]-->
        <link rel="stylesheet" href="{{.PikaRoot}}assets/css/ace-skins.min.css" />
        <link rel="stylesheet" href="{{.PikaRoot}}assets/css/ace-rtl.min.css" />
        <!-- 自定义样式
        <link rel="stylesheet" href="{{.PikaRoot}}assets/css/pikachu-custom.css" />
        <! 不安全文件上传模块样式 -->
        <!-- <link rel="stylesheet" href="{{.PikaRoot}}assets/css/unsafeupload.css" /> -->
        <!-- CSRF模块样式 -->
        <!-- <link rel="stylesheet" href="{{.PikaRoot}}assets/css/csrf.css" /> -->
        <!--[if lte IE 9]>
    <link rel="stylesheet" href="{{.PikaRoot}}assets/css/ace-ie.min.css" />
    <![endif]-->
        <!-- ace settings handler -->
        <script src="{{.PikaRoot}}assets/js/ace-extra.min.js"></script>
        <!-- HTML5shiv and Respond.js for IE8 to support HTML5 elements and media queries -->
        <!--[if lte IE 8]>
    <script src="{{.PikaRoot}}assets/js/html5shiv.min.js"></script>
    <script src="{{.PikaRoot}}assets/js/respond.min.js"></script>
    <![endif]-->
        <script src="{{.PikaRoot}}assets/js/jquery-2.1.4.min.js"></script>
        <script src="{{.PikaRoot}}assets/js/bootstrap.min.js"></script>
    </head>

    <body class="no-skin">
        <div id="navbar" class="navbar navbar-default ace-save-state">
            <div class="navbar-container ace-save-state" id="navbar-container">
                <div class="navbar-header pull-left">
                    <a href="{{.PikaRoot}}" class="navbar-brand">
                        <small>
                            <i class="fa fa-key"></i>
                            Pikachu 漏洞练习平台 pika~pika~
                        </small>
                    </a>
                </div>
                <div class="navbar-buttons navbar-header pull-right" role="navigation">
                    <ul class="nav ace-nav">
                        <li class="light-blue dropdown-modal">
                            <a data-toggle="dropdown" href="#" class="dropdown-toggle">
                                <img class="nav-user-photo" src="{{.PikaRoot}}assets/images/avatars/pikachu1.png"
                                    alt="用户头像" />
                                <span class="user-info">
                                    <small>欢迎</small>
                                    骚年
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div><!-- /.navbar-container -->
        </div>

        <div class="main-container ace-save-state" id="main-container">
            <script type="text/javascript">
                try { ace.settings.loadState('main-container') } catch (e) { }
            </script>

            <div id="sidebar" class="sidebar responsive ace-save-state">
                <script type="text/javascript">
                    try { ace.settings.loadState('sidebar') } catch (e) { }
                </script>
                <ul class="nav nav-list">
                    <li class="{{index .Active 0}}">
                        <a href="{{.PikaRoot}}">
                            <i class="ace-icon glyphicon glyphicon-tags"></i>
                            <span class="menu-text"> 系统介绍 </span>
                        </a>
                        <b class="arrow"></b>
                    </li>
                    <li class="{{index .Active 1}}">
                        <a href="#" class="dropdown-toggle">
                            <i class="ace-icon glyphicon glyphicon-lock"></i>
                            <span class="menu-text"> 暴力破解 </span>
                            <b class="arrow fa fa-angle-down"></b>
                        </a>
                        <b class="arrow"></b>
                        <ul class="submenu">
                            <li class="{{index .Active 2}}">
                                <a href="{{.PikaRoot}}vul/burteforce/burteforce">
                                    <i class="menu-icon fa fa-caret-right"></i>
                                    概述
                                </a>
                                <b class="arrow"></b>
                            </li>
                            <li class="{{index .Active 3}}">
                                <a href="{{.PikaRoot}}vul/burteforce/bf_form">
                                    <i class="menu-icon fa fa-caret-right"></i>
                                    基于表单的暴力破解
                                </a>
                                <b class="arrow"></b>
                            </li>
                            <li class="{{index .Active 4}}">
                                <a href="{{.PikaRoot}}vul/burteforce/bf_server">
                                    <i class="menu-icon fa fa-caret-right"></i>
                                    验证码绕过(on server)
                                </a>
                                <b class="arrow"></b>
                            </li>
                            <li class="{{index .Active 5}}">
                                <a href="{{.PikaRoot}}vul/burteforce/bf_client">
                                    <i class="menu-icon fa fa-caret-right"></i>
                                    验证码绕过(on client)
                                </a>
                                <b class="arrow"></b>
                            </li>
                            <!-- 暂时下线 -->
                            <!-- <li class="{{index .Active 6}}">
                                <a href="{{.PikaRoot}}vul/burteforce/bf_token">
                                    <i class="menu-icon fa fa-caret-right"></i>
                                    token防爆破?
                                </a>
                                <b class="arrow"></b>
                            </li> -->
                        </ul>
                    </li>
                    <!-- 其它导航项请按需补充 -->
                    <li class="{{index .Active 7}}">
                        <a href="#" class="dropdown-toggle">
                            <i class="ace-icon glyphicon glyphicon-indent-left"></i>
                            <span class="menu-text">
                                Cross-Site Scripting
                            </span>
                            <b class="arrow fa fa-angle-down"></b>
                        </a>
                        <b class="arrow"></b>
                        <ul class="submenu">

                            <li class="{{index .Active 8}}">
                                <a href="{{.PikaRoot}}vul/xss/xss">
                                    <i class="menu-icon fa fa-caret-right"></i>
                                    概述
                                </a>
                                <b class="arrow"></b>
                            </li>


                            <li class="{{index .Active 9}}">
                                <a href="{{.PikaRoot}}vul/xss/xss_reflected_get">
                                    <i class="menu-icon fa fa-caret-right"></i>
                                    反射型xss(get)
                                </a>
                                <b class="arrow"></b>
                            </li>



                            <li class="{{index .Active 10}}">
                                <a href="{{.PikaRoot}}vul/xss/xsspost/xss_reflected_post">
                                    <i class="menu-icon fa fa-caret-right"></i>
                                    反射型xss(post)
                                </a>
                                <b class="arrow"></b>
                            </li>


                            <li class="{{index .Active 11}}">
                                <a href="{{.PikaRoot}}vul/xss/xss_stored">
                                    <i class="menu-icon fa fa-caret-right"></i>
                                    存储型xss
                                </a>
                                <b class="arrow"></b>
                            </li>


                            <li class="{{index .Active 12}}">
                                <a href="{{.PikaRoot}}vul/xss/xss_dom">
                                    <i class="menu-icon fa fa-caret-right"></i>
                                    DOM型xss
                                </a>
                                <b class="arrow"></b>
                            </li>

                            <li class="{{index .Active 13}}">
                                <a href="{{.PikaRoot}}vul/xss/xss_dom_x">
                                    <i class="menu-icon fa fa-caret-right"></i>
                                    DOM型xss-x
                                </a>
                                <b class="arrow"></b>
                            </li>

                            <li class="{{index .Active 14}}">
                                <a href="{{.PikaRoot}}vul/xss/xssblind/xss_blind">
                                    <i class="menu-icon fa fa-caret-right"></i>
                                    xss之盲打
                                </a>
                                <b class="arrow"></b>
                            </li>

                            <li class="{{index .Active 15}}">
                                <a href="{{.PikaRoot}}vul/xss/xss_01">
                                    <i class="menu-icon fa fa-caret-right"></i>
                                    xss之过滤
                                </a>
                                <b class="arrow"></b>
                            </li>

                            <li class="{{index .Active 16}}">
                                <a href="{{.PikaRoot}}vul/xss/xss_02">
                                    <i class="menu-icon fa fa-caret-right"></i>
                                    xss之htmlspecialchars
                                </a>
                                <b class="arrow"></b>
                            </li>


                            <li class="{{index .Active 17}}">
                                <a href="{{.PikaRoot}}vul/xss/xss_03">
                                    <i class="menu-icon fa fa-caret-right"></i>
                                    xss之href输出
                                </a>
                                <b class="arrow"></b>
                            </li>


                            <li class="{{index .Active 18}}">
                                <a href="{{.PikaRoot}}vul/xss/xss_04">
                                    <i class="menu-icon fa fa-caret-right"></i>
                                    xss之js输出
                                </a>
                                <b class="arrow"></b>
                            </li>
                        </ul>
                    </li>

                    <!-- <li class="{{index .Active 25}}">
                        <a href="#" class="dropdown-toggle">
                            <i class="ace-icon glyphicon glyphicon-share"></i>
                            <span class="menu-text">
                                CSRF
                            </span>
                            <b class="arrow fa fa-angle-down"></b>
                        </a>
                        <b class="arrow"></b>
                        <ul class="submenu">

                            <li class="{{index .Active 26}}">
                                <a href="{{.PikaRoot}}vul/csrf/csrf">
                                    <i class="menu-icon fa fa-caret-right"></i>
                                    概述
                                </a>
                                <b class="arrow"></b>
                            </li>


                            <li class="{{index .Active 27}}">
                                <a href="{{.PikaRoot}}vul/csrf/csrfget/csrf_get_login">
                                    <i class="menu-icon fa fa-caret-right"></i>
                                    CSRF(get)
                                </a>
                                <b class="arrow"></b>
                            </li>

                            <li class="{{index .Active 28}}">
                                <a href="{{.PikaRoot}}vul/csrf/csrfpost/csrf_post_login">
                                    <i class="menu-icon fa fa-caret-right"></i>
                                    CSRF(post)
                                </a>
                                <b class="arrow"></b>
                            </li>

                            <li class="{{index .Active 29}}">
                                <a href="{{.PikaRoot}}vul/csrf/csrftoken/token_get_login">
                                    <i class="menu-icon fa fa-caret-right"></i>
                                    CSRF Token
                                </a>
                                <b class="arrow"></b>
                            </li>

                        </ul>
                    </li> -->


                    <li class="{{index .Active 35}}">
                        <a href="#" class="dropdown-toggle">
                            <i class="ace-icon fa fa-fighter-jet"></i>
                            <span class="menu-text">
                                SQL-Inject
                            </span>
                            <b class="arrow fa fa-angle-down"></b>
                        </a>
                        <b class="arrow"></b>
                        <ul class="submenu">

                            <li class="{{index .Active 36}}">
                                <a href="{{.PikaRoot}}vul/sqli/sqli">
                                    <i class="menu-icon fa fa-caret-right"></i>
                                    概述
                                </a>
                                <b class="arrow"></b>
                            </li>

                            <li class="{{index .Active 37}}">
                                <a href="{{.PikaRoot}}vul/sqli/sqli_id">
                                    <i class="menu-icon fa fa-caret-right"></i>
                                    数字型注入(post)
                                </a>
                                <b class="arrow"></b>
                            </li>

                            <li class="{{index .Active 38}}">
                                <a href="{{.PikaRoot}}vul/sqli/sqli_str">
                                    <i class="menu-icon fa fa-caret-right"></i>
                                    字符型注入(get)
                                </a>
                                <b class="arrow"></b>
                            </li>

                            <li class="{{index .Active 39}}">
                                <a href="{{.PikaRoot}}vul/sqli/sqli_search">
                                    <i class="menu-icon fa fa-caret-right"></i>
                                    搜索型注入
                                </a>
                                <b class="arrow"></b>
                            </li>

                            <li class="{{index .Active 40}}">
                                <a href="{{.PikaRoot}}vul/sqli/sqli_x">
                                    <i class="menu-icon fa fa-caret-right"></i>
                                    xx型注入
                                </a>
                                <b class="arrow"></b>
                            </li>

                            <li class="{{index .Active 41}}">
                                <a href="{{.PikaRoot}}vul/sqli/sqli_iu/sqli_login">
                                    <i class="menu-icon fa fa-caret-right"></i>
                                    "insert/update"注入
                                </a>
                                <b class="arrow"></b>
                            </li>

                            <li class="{{index .Active 42}}">
                                <a href="{{.PikaRoot}}vul/sqli/sqli_del">
                                    <i class="menu-icon fa fa-caret-right"></i>
                                    "delete"注入
                                </a>
                                <b class="arrow"></b>
                            </li>


                            <!-- <li class="{{index .Active 43}}">
                                <a href="{{.PikaRoot}}vul/sqli/sqli_header/sqli_header_login">
                                    <i class="menu-icon fa fa-caret-right"></i>
                                    "http header"注入
                                </a>
                                <b class="arrow"></b>
                            </li> -->


                            <li class="{{index .Active 44}}">
                                <a href="{{.PikaRoot}}vul/sqli/sqli_blind_b">
                                    <i class="menu-icon fa fa-caret-right"></i>
                                    盲注(base on boolian)
                                </a>
                                <b class="arrow"></b>
                            </li>

                            <li class="{{index .Active 45}}">
                                <a href="{{.PikaRoot}}vul/sqli/sqli_blind_t">
                                    <i class="menu-icon fa fa-caret-right"></i>
                                    盲注(base on time)
                                </a>
                                <b class="arrow"></b>
                            </li>

                            <!-- <li class="{{index .Active 46}}">
                                <a href="{{.PikaRoot}}vul/sqli/sqli_widebyte">
                                    <i class="menu-icon fa fa-caret-right"></i>
                                    宽字节注入
                                </a>
                                <b class="arrow"></b>
                            </li> -->
                        </ul>
                    </li>



                    <li class="{{index .Active 50}}">
                        <a href="#" class="dropdown-toggle">
                            <i class="ace-icon glyphicon glyphicon-pencil"></i>
                            <span class="menu-text">
                                RCE
                            </span>
                            <b class="arrow fa fa-angle-down"></b>
                        </a>
                        <b class="arrow"></b>
                        <ul class="submenu">

                            <li class="{{index .Active 51}}">
                                <!-- <a href="{{.PikaRoot}}vul/rce/rce"> -->
                                <a href="{{.PikaRoot}}vul/rce/rce">
                                    <i class="menu-icon fa fa-caret-right"></i>
                                    概述
                                </a>
                                <b class="arrow"></b>
                            </li>

                            <li class="{{index .Active 52}}">
                                <a href="{{.PikaRoot}}vul/rce/rce_ping">
                                    <i class="menu-icon fa fa-caret-right"></i>
                                    exec "ping"
                                </a>
                                <b class="arrow"></b>
                            </li>

                            <!-- <li class="{{index .Active 53}}">
                                <a href="{{.PikaRoot}}vul/rce/rce_eval">
                                    <i class="menu-icon fa fa-caret-right"></i>
                                    exec "evel"
                                </a>
                                <b class="arrow"></b>
                            </li> -->

                        </ul>
                    </li>

                    <li class="{{index .Active 55}}">
                        <a href="#" class="dropdown-toggle">
                            <i class="ace-icon glyphicon glyphicon-file"></i>
                            <span class="menu-text">
                                File Inclusion
                            </span>
                            <b class="arrow fa fa-angle-down"></b>
                        </a>
                        <b class="arrow"></b>
                        <ul class="submenu">

                            <li class="{{index .Active 56}}">
                                <a href="{{.PikaRoot}}vul/fileinclude/fileinclude">
                                    <i class="menu-icon fa fa-caret-right"></i>
                                    概述
                                </a>
                                <b class="arrow"></b>
                            </li>

                            <li class="{{index .Active 57}}">
                                <a href="{{.PikaRoot}}vul/fileinclude/fi_local">
                                    <i class="menu-icon fa fa-caret-right"></i>
                                    File Inclusion(local)
                                </a>
                                <b class="arrow"></b>
                            </li>

                            <li class="{{index .Active 58}}">
                                <a href="{{.PikaRoot}}vul/fileinclude/fi_remote">
                                    <i class=" menu-icon fa fa-caret-right"></i>
                                    File Inclusion(remote)
                                </a>
                                <b class="arrow"></b>
                            </li>

                        </ul>
                    </li>


                    <li class="{{index .Active 60}}">
                        <a href="#" class="dropdown-toggle">
                            <i class="ace-icon glyphicon glyphicon-download"></i>
                            <span class="menu-text">
                                Unsafe Filedownload
                            </span>
                            <b class="arrow fa fa-angle-down"></b>
                        </a>
                        <b class="arrow"></b>
                        <ul class="submenu">

                            <li class="{{index .Active 61}}">
                                <a href="{{.PikaRoot}}vul/unsafedownload/unsafedownload">
                                    <i class="menu-icon fa fa-caret-right"></i>
                                    概述
                                </a>
                                <b class="arrow"></b>
                            </li>

                            <li class="{{index .Active 62}}">
                                <a href="{{.PikaRoot}}vul/unsafedownload/down_nba">
                                    <i class="menu-icon fa fa-caret-right"></i>
                                    Unsafe Filedownload
                                </a>
                                <b class="arrow"></b>
                            </li>

                        </ul>
                    </li>


                    <!-- 暂时下线，重新优化一下 -->
                    <!-- <li class="{{index .Active 73}}">
                        <a href="#" class="dropdown-toggle">
                            <i class="ace-icon glyphicon glyphicon-text-height"></i>
                            <span class="menu-text">
                                Over Permission
                            </span>
                            <b class="arrow fa fa-angle-down"></b>
                        </a>
                        <b class="arrow"></b>
                        <ul class="submenu">

                            <li class="{{index .Active 74}}">
                                <a href="{{.PikaRoot}}vul/overpermission/op">
                                    <i class="menu-icon fa fa-caret-right"></i>
                                    概述
                                </a>
                                <b class="arrow"></b>
                            </li>

                            <li class="{{index .Active 75}}">
                                <a href="{{.PikaRoot}}vul/overpermission/op1/op1_login">
                                    <i class="menu-icon fa fa-caret-right"></i>
                                    水平越权
                                </a>
                                <b class="arrow"></b>
                            </li>

                            <li class="{{index .Active 76}}">
                                <a href="{{.PikaRoot}}vul/overpermission/op2/op2_login">
                                    <i class="menu-icon fa fa-caret-right"></i>
                                    垂直越权
                                </a>
                                <b class="arrow"></b>
                            </li>

                        </ul>
                    </li> -->


                    <!-- <li class="{{index .Active 80}}">
                        <a href="#" class="dropdown-toggle">
                            <i class="ace-icon glyphicon glyphicon-file"></i>
                            <span class="menu-text">
                                Template Injection
                            </span>
                            <b class="arrow fa fa-angle-down"></b>
                        </a>
                        <b class="arrow"></b>
                        <ul class="submenu">
                            <li class="{{index .Active 81}}">
                                <a href="{{.PikaRoot}}vul/templateinj">
                                    <i class="menu-icon fa fa-caret-right"></i>
                                    概述
                                </a>
                                <b class="arrow"></b>
                            </li>
                            <li class="{{index .Active 82}}">
                                <a href="{{.PikaRoot}}vul/templateinj/test">
                                    <i class="menu-icon fa fa-caret-right"></i>
                                    漏洞测试
                                </a>
                                <b class="arrow"></b>
                            </li>
                        </ul>
                    </li> -->

                    <!-- 重复的API Unauthorized菜单项，注释掉 -->
                    <!-- <li class="{{index .Active 85}}">
                        <a href="#" class="dropdown-toggle">
                            <i class="ace-icon glyphicon glyphicon-lock"></i>
                            <span class="menu-text">
                                API Unauthorized
                            </span>
                            <b class="arrow fa fa-angle-down"></b>
                        </a>
                        <b class="arrow"></b>
                        <ul class="submenu">
                            <li class="{{index .Active 86}}">
                                <a href="{{.PikaRoot}}vul/apiunauth/apiunauth">
                                    <i class="menu-icon fa fa-caret-right"></i>
                                    概述
                                </a>
                                <b class="arrow"></b>
                            </li>
                            <li class="{{index .Active 87}}">
                                <a href="{{.PikaRoot}}vul/apiunauth/apiunauth_demo">
                                    <i class="menu-icon fa fa-caret-right"></i>
                                    漏洞演示
                                </a>
                                <b class="arrow"></b>
                            </li>
                        </ul>
                    </li> -->

                    <!-- 在go当中，php反序列化是无法实现的 -->
                    <!-- <li class="{{index .Active 90}}">
                        <a href="#" class="dropdown-toggle">
                            <i class="ace-icon glyphicon glyphicon-align-left"></i>
                            <span class="menu-text">
                                PHP反序列化
                            </span>
                            <b class="arrow fa fa-angle-down"></b>
                        </a>
                        <b class="arrow"></b>
                        <ul class="submenu">

                            <li class="{{index .Active 91}}">
                                <a href="{{.PikaRoot}}vul/unserilization/unserilization">
                                    <i class="menu-icon fa fa-caret-right"></i>
                                    概述
                                </a>
                                <b class="arrow"></b>
                            </li>

                            <li class="{{index .Active 92}}">
                                <a href="{{.PikaRoot}}vul/unserilization/unser">
                                    <i class="menu-icon fa fa-caret-right"></i>
                                    PHP反序列化漏洞
                                </a>
                                <b class="arrow"></b>
                            </li>

                        </ul>
                    </li> -->

                    <!-- 后续换为html模板注入 -->
                    <!-- <li class="{{index .Active 95}}">
                        <a href="#" class="dropdown-toggle">
                            <i class="ace-icon glyphicon glyphicon-flag"></i>
                            <span class="menu-text">
                                XXE
                            </span>
                            <b class="arrow fa fa-angle-down"></b>
                        </a>
                        <b class="arrow"></b>
                        <ul class="submenu">

                            <li class="{{index .Active 96}}">
                                <a href="{{.PikaRoot}}vul/xxe/xxe">
                                    <i class="menu-icon fa fa-caret-right"></i>
                                    概述
                                </a>
                                <b class="arrow"></b>
                            </li>

                            <li class="{{index .Active 97}}">
                                <a href="{{.PikaRoot}}vul/xxe/xxe_1">
                                    <i class="menu-icon fa fa-caret-right"></i>
                                    XXE漏洞
                                </a>
                                <b class="arrow"></b>
                            </li>

                        </ul>
                    </li> -->

                    <li class="{{index .Active 100}}">
                        <a href="#" class="dropdown-toggle">
                            <i class="ace-icon glyphicon glyphicon-repeat"></i>
                            <span class="menu-text">
                                URL重定向
                            </span>
                            <b class="arrow fa fa-angle-down"></b>
                        </a>
                        <b class="arrow"></b>
                        <ul class="submenu">

                            <li class="{{index .Active 101}}">
                                <a href="{{.PikaRoot}}vul/urlredirect/unsafere">
                                    <i class="menu-icon fa fa-caret-right"></i>
                                    概述
                                </a>
                                <b class="arrow"></b>
                            </li>

                            <li class="{{index .Active 102}}">
                                <a href="{{.PikaRoot}}vul/urlredirect/urlredirect">
                                    <i class="menu-icon fa fa-caret-right"></i>
                                    不安全的URL跳转
                                </a>
                                <b class="arrow"></b>
                            </li>

                        </ul>
                    </li>

                    <li class="{{index .Active 105}}">
                        <a href="#" class="dropdown-toggle">
                            <i class="ace-icon fa fa-exchange"></i>
                            <span class="menu-text">
                                SSRF
                            </span>
                            <b class="arrow fa fa-angle-down"></b>
                        </a>
                        <b class="arrow"></b>
                        <ul class="submenu">

                            <li class="{{index .Active 106}}">
                                <a href="{{.PikaRoot}}vul/ssrf/ssrf">
                                    <i class="menu-icon fa fa-caret-right"></i>
                                    概述
                                </a>
                                <b class="arrow"></b>
                            </li>

                            <li class="{{index .Active 107}}">
                                <a href="{{.PikaRoot}}vul/ssrf/ssrf_curl">
                                    <i class="menu-icon fa fa-caret-right"></i>
                                    SSRF(curl)
                                </a>
                                <b class="arrow"></b>
                            </li>

                            <!-- <li class="{{index .Active 108}}">
                                <a href="{{.PikaRoot}}vul/ssrf/ssrf_fgc">
                                    <i class="menu-icon fa fa-caret-right"></i>
                                    SSRF(file_get_content)
                                </a>
                                <b class="arrow"></b>
                            </li> -->

                        </ul>
                    </li>

                    <li class="{{index .Active 111}}">
                        <a href="#" class="dropdown-toggle">
                            <i class="ace-icon glyphicon glyphicon-cloud"></i>
                            <span class="menu-text">API未授权访问</span>
                            <b class="arrow fa fa-angle-down"></b>
                        </a>
                        <b class="arrow"></b>
                        <ul class="submenu">
                            <li class="{{index .Active 112}}">
                                <a href="{{.PikaRoot}}vul/apiunauth/apiunauth">
                                    <i class="menu-icon fa fa-caret-right"></i>
                                    概述
                                </a>
                                <b class="arrow"></b>
                            </li>
                            <li class="{{index .Active 113}}">
                                <a href="{{.PikaRoot}}vul/apiunauth/apiunauth_demo">
                                    <i class="menu-icon fa fa-caret-right"></i>
                                    漏洞演示
                                </a>
                                <b class="arrow"></b>
                            </li>
                        </ul>
                    </li>


                    <li class="{{index .Active 116}}">
                        <a href="#" class="dropdown-toggle">
                            <i class="ace-icon fa fa-code"></i>
                            <span class="menu-text">
                                SSTI模板注入
                            </span>
                            <b class="arrow fa fa-angle-down"></b>
                        </a>
                        <b class="arrow"></b>
                        <ul class="submenu">
                            <li class="{{index .Active 117}}">
                                <a href="{{.PikaRoot}}vul/ssti/ssti">
                                    <i class="menu-icon fa fa-caret-right"></i>
                                    概述
                                </a>
                                <b class="arrow"></b>
                            </li>
                            <li class="{{index .Active 118}}">
                                <a href="{{.PikaRoot}}vul/ssti/test">
                                    <i class="menu-icon fa fa-caret-right"></i>
                                    漏洞测试
                                </a>
                                <b class="arrow"></b>
                            </li>
                        </ul>
                    </li>

                </ul><!-- /.nav-list -->

                <div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
                    <i id="sidebar-toggle-icon" class="ace-icon fa fa-angle-double-left ace-save-state"
                        data-icon1="ace-icon fa fa-angle-double-left"
                        data-icon2="ace-icon fa fa-angle-double-right"></i>
                </div>
            </div>