{{define "ssrf/ssrf.html"}}
<div class="main-content">
    <div class="main-content-inner">
        <div class="breadcrumbs ace-save-state" id="breadcrumbs">
            <ul class="breadcrumb">
                <li><i class="ace-icon fa fa-home home-icon"></i>
                    <a href="/vul/ssrf/ssrf">ssrf</a>
                </li>
                <li class="active">概述</li>
            </ul>
        </div>

        <div class="page-content">
            <div id="vul_info">
                <dl>
                    <dt class="vul_title">SSRF(Server-Side Request Forgery) 服务器端请求伪造</dt>
                    <dd class="vul_detail">
                        SSRF 是一种由攻击者构造请求，由服务器端发起的漏洞攻击方式。攻击目标通常是内网应用、云服务元数据等无法直接访问的目标。
                    </dd>
                    <dd class="vul_detail">
                        SSRF 利用场景常见于：
                        <ul>
                            <li>头像上传 URL 回显</li>
                            <li>服务器数据抓取（爬虫、RSS、Webhook）</li>
                            <li>后台接口调度（API 请求）</li>
                        </ul>
                    </dd>
                    <dd class="vul_detail">
                        SSRF 漏洞若结合任意协议支持（如 gopher、file）或响应信息回显，则可进一步提升为 RCE 等高危漏洞。
                    </dd>
                </dl>
            </div>
        </div>
    </div>
</div>
{{end}}