{{define "ssrf/ssrf_curl.html"}}
<div class="main-content">
    <div class="main-content-inner">
        <div class="breadcrumbs ace-save-state" id="breadcrumbs">
            <ul class="breadcrumb">
                <li>
                    <i class="ace-icon fa fa-home home-icon"></i>
                    <a href="/vul/ssrf/ssrf">SSRF</a>
                </li>
                <li class="active">SSRF-CURL</li>
            </ul>
            <a href="#" style="float:right" data-container="body" data-toggle="popover" data-placement="bottom"
                title="tips(再点一下关闭)" data-content="先了解一下Go中http.Get/http.Client相关函数的用法吧">
                点一下提示~
            </a>
        </div>
        <div class="page-content">
            <!-- GET方式访问示例 -->
            <div style="margin-bottom:10px;">
                {{.HtmlMsg}}
            </div>

        </div>
    </div>
</div>
</div>
{{end}}