{{define "ssrf/ssrf_fgc.html"}}
<div class="main-content">
    <div class="main-content-inner">
        <div class="breadcrumbs ace-save-state" id="breadcrumbs">
            <ul class="breadcrumb">
                <li><i class="ace-icon fa fa-home home-icon"></i>
                    <a href="/vul/ssrf/ssrf">ssrf</a>
                </li>
                <li class="active">fgc 模拟</li>
            </ul>
        </div>
        <div class="page-content">
            <form method="post">
                <label>目标 URL：</label><br />
                <input type="text" name="url" style="width:400px;" />
                <input type="submit" value="提交" />
            </form>
            <div style="margin-top:20px;">{{.HtmlMsg}}</div>
        </div>
    </div>
</div>
{{end}}